



#container{
    position: absolute;
    width: 1400px;
    height: 600px;
    z-index: 15;
    top: 50%;
    left: 50%;

    margin: -300px 0 0 -700px;
    background-color: white;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 20px;*/


}

#header  {
    display: table;
    text-align: center;
    width: 1400px;
    padding: 10px;
    border-radius: 70px;
    background-color: #E5C6C4;

}

span #text {
    font-family: 'Coiny', cursive;
    font-size: 70px;
}

img {
    vertical-align: middle;
    display: table-cell;
}
span {


    vertical-align: middle;
    display: table-cell;
}




#navigation-bar{
    /*padding: 10px;*/
    overflow:auto;
    padding-bottom:303px;
}


.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
    font-size: 25px;
}





#footer {
    /*position: relative;*/
    /*margin-top: -40px; !* negative value of footer height *!*/
    height: 40px;
    padding-right: 20px;
    padding-top:20px;

    background-color: #999999;
    color:white;
    text-align: right;

}



.register, .login, .cardstyle {
    margin: 0;
    position: absolute !important;              /* 2 */
    top: 50%;                         /* 3 */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;   /* 4 */
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 50px !important;

}



.card-title {
    padding: 10px 0px 0px 60px;
    font-family: "Comic Sans MS";
}


#register-back, #body_back, #contact-back, #about-back, #gain-back{
    background-color: #E5C6C4;

}


#icons{
    font-size: 80px;
}

#map {
    height: 100%;
    width: 70%;
    border-radius: 30px;
    border:5px solid #d09995;

}

div#list.card{
    width: 200rem;
}

.fa-facebook, .fa-twitter, .fa-youtube {
    padding: 20px;
}

.fa-youtube {
    color: red;
}

.fa-facebook {
    color: #4267b2;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-home {
    padding: 13px;
}

.error
{
    color:red;
    font-weight: bold;
   padding-bottom: 10px;

}

.success
{
    color: limegreen;
    font-weight: bold;
    padding-bottom: 10px;
}

#list
{
    position:fixed; !important;
    top: 20px;
    right: 10px;
    width: 39rem; !important;
    height: 100rem; !important;

}


/*margin: 0;*/
/*position: absolute !important;              !* 2 *!*/
/*top: 50%;                         !* 3 *!*/
/*left: 50%;*/
/*margin-right: -50%;*/
/*transform: translate(-50%, -50%) ;   !* 4 *!*/
/*width: 500px;*/
/*background-color: white;*/
/*padding: 20px;*/
/*border-radius: 50px !important;*/