



#container{
    position: absolute;
    width: 1400px;
    height: 600px;
    z-index: 15;
    top: 50%;
    left: 50%;

    margin: -300px 0 0 -700px;
    background-color: white;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 20px;*/


}

#header  {
    display: table;
    text-align: center;
    width: 1400px;
    padding: 10px;
    border-radius: 70px;
    background-color: #E5C6C4;

}

span #text {
    font-family: 'Coiny', cursive;
    font-size: 70px;
}

img {
    vertical-align: middle;
    display: table-cell;
}
span {


    vertical-align: middle;
    display: table-cell;
}




/*#content {*/
    /*background-color: red;*/
    /*height: 500px;*/
/*}*/
#navigation-bar{
    /*padding: 10px;*/
    overflow:auto;
    padding-bottom:303px;
}


.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
    font-size: 25px;
}





#footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    padding-right: 20px;
    padding-top:20px;

    clear:both;

    background-color: #999999;
    color:white;
    text-align: right;

}

.register, .login {
    margin: 0;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;   /* 4 */
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 50px;

}
#register-back, #body_back{
    background-color: #E5C6C4;

}

/*.register-back{*/
    /*width: 600px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*margin: 0;*/
    /*margin-right: -50%;*/
    /*background-color: white !important;*/
/*}*/

