#container{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1400px;

}

#header  {
    display: table;
    text-align: center;
    width: 1400px;
    padding: 10px;
    border-radius: 70px;
    background-color: #E5C6C4;

}

span #text {
    font-family: 'Coiny', cursive;
    font-size: 70px;
}

img {
    vertical-align: middle;
    display: table-cell;
}
span {


    vertical-align: middle;
    display: table-cell;
}




#content {
    background-color: red;
    height: 500px;
}
#navigation-bar{
    padding: 10px;
}


.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
    font-size: 25px;
}




#footer {
    clear:both;
    padding: 10px;
    background-color: #999999;
    color:white;
    text-align: right;
}